.hero-wrapper {
  height: 50vh;
  width: 100vw;

  display: flex;
  align-items: center;
}

.hero-content {
  width: auto;
  margin: auto;

  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  align-content: center;
  justify-content: center;
}

.hero-name {
  font-family: Bangers, 'Arial Narrow Bold', sans-serif;
  font-size: 5vw;
  margin-bottom: 0;

  justify-self: flex-end;
}

.hero-right {
  border-left: 8px solid var(--black);
  padding-left: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-title {
  margin-bottom: 0;
}

.hero-headline {
  margin-bottom: 0;
}
